<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Membership</title>

  <link href="css/style.css" rel="stylesheet">
  <link href="css/nivo-lightbox.css" rel="stylesheet" />
  <link href="css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
  <link href="css/owl.carousel.css" rel="stylesheet" media="screen" />
  <link href="css/owl.theme.css" rel="stylesheet" media="screen" />
  <link href="css/animate.css" rel="stylesheet" />
    <!-- boxed bg -->
  <link id="bodybg" href="css/bg1.css" rel="stylesheet" type="text/css" />
    <!-- template skin -->
  <link id="t-colors" href="css/default.css" rel="stylesheet">

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/scrolling-nav.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
</head>

<body id="page-top" class="membershipBody">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/nivo-lightbox.min.js"></script>
    <script src="js/custom.js"></script>
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="doctorsinfo.html">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger active" href="/membership">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Section: pricing -->
<section id="pricing" class="home-section bg-gray paddingbot-60">
    <div class="container marginbot-50">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow lightSpeedIn" data-wow-delay="0.1s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Health packages</h2>
              <p>Take charge of your health today with our specially designed health packages</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <br>
    <br>
    <div class="container">

      <div class="row">

        <div class="pricing-box col-sm-4">
          <div class="wow bounceInUp" data-wow-delay="0.1s">
            <div class="pricing-content general">
              <h2>Basic Fit 1 Package</h2>
              <h3>$33<sup>.99</sup> <span>/ one time</span></h3>
              <ul>
                <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                <li><del>Post Examination Review</del> <i class="fa fa-times icon-danger"></i></li>
                <li>General Screening – Basic <i class="fa fa-check icon-success"></i></li>
                <li><del>Health Screening Report</del> <i class="fa fa-times icon-danger"></i></li>
              </ul>

              <div class="price-bottom">
                <a href="#" class="btn btn-skin btn-dark">Purchase</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 pricing-box featured-price">
          <div class="wow bounceInUp" data-wow-delay="0.3s">
            <div class="pricing-content featured">
              <h2>Golden Glow Package</h2>
              <h3>$65<sup>.99</sup> <span>/ one time</span></h3>
              <ul>
                <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                <li>General Screening – Basic <i class="fa fa-check icon-success"></i></li>
                <li>Body Composition Analysis <i class="fa fa-check icon-success"></i></li>
                <li>GR Assessment & Scoring <i class="fa fa-check icon-success"></i></li>
              </ul>

              <div class="price-bottom">
                <a href="#" class="btn btn-skin btn-dark">Purchase</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 pricing-box">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="pricing-content general last">
              <h2>Basic Fit 2 Package</h2>
              <h3>$47<sup>.99</sup> <span>/ one time</span></h3>
              <ul>
                <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                <li>General Screening – Regular <i class="fa fa-check icon-success"></i></li>
                <li><del>Health Screening Report</del> <i class="fa fa-times icon-danger"></i></li>
              </ul>

              <div class="price-bottom">
                <a href="#" class="btn btn-skin btn-dark">Purchase</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
</section>    

</body>